.main{
    background-color: #f0f1fa;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recoverContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 25rem;
    background-color: white;
    border-radius: 8px;
}

.logo{
    margin-bottom: 50px;
}

span{
    margin-bottom: 50px;
}

.mat-form-field{
    margin: 20px;
    width:20rem;
}
.mat-flat-button{
    width: 20rem;
    background-color: #0073CF;
}

p{
    margin-top: 20px;
    color: #B4B6C1;
}
span{
    color: #B4B6C1
}

a{
    text-decoration: none;
}
