<div>
  <h1>Criar Coleção</h1>
</div>

<div [formGroup]="formProduto" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Nome do Modelo</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Responsavel pelo Modelo</mat-label>
    <input matInput formControlName="responsavel">
  </mat-form-field>
  <mat-form-field appearance="fill" >
    <mat-label>Tipo do Modelo</mat-label>
    <mat-select formControlName="modelo">
      <mat-option value="Bermuda">Bermuda</mat-option>
      <mat-option value="Biquini" >Biquini</mat-option>
      <mat-option value="Bolsa">Bolsa</mat-option>
      <mat-option value="Bone">Boné</mat-option>
      <mat-option value="Calca">Calça</mat-option>
      <mat-option value="calcado">Calçado</mat-option>
      <mat-option value="Camisa">Camisa</mat-option>
      <mat-option value="capeu">Chapéu</mat-option>
      <mat-option value="Saia">Saia</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Selecionar a Coleção</mat-label>
    <mat-select formControlName="colecao" >
      <mat-option *ngFor="let item of AllCollections$ | async" [value]="item.name">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>


</div>
<div class="radio" [formGroup]="formProduto">
  <mat-radio-group aria-label="Possui Bordado?" formControlName="bordado">
    <mat-label>Possui Bordado?</mat-label>
    <mat-radio-button value= true>Sim</mat-radio-button>
    <mat-radio-button value= false>Não</mat-radio-button>
  </mat-radio-group>

<mat-radio-group aria-label="Pssui Estampa?" formControlName="estampa">
    <mat-label>Possui Estampa?</mat-label>
    <mat-radio-button value= true>Sim</mat-radio-button>
    <mat-radio-button value= false>Não</mat-radio-button>
  </mat-radio-group>

</div>
<div class="img">
  <img src="../../../../../assets/images/image 1.png">
</div>
<footer>
  <button mat-flat-button >Cancelar</button>
  <button mat-flat-button color="primary" class="button1" (click)="createProd()">Salvar</button>
</footer>
