*{
  font-family: 'Inter', sans-serif;
}
mat-form-field{
  margin: 15px 10px;
  width: 35%;
  padding: 5px;
}

.form{
  margin:  30px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img{
  margin-top: 75px;
display: flex;
justify-content: center;
}

.mat-flat-button{
  padding: 5px;
  width: 150px;
  margin: 15px;
}

footer{
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.button1{
  background:#0073CF;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio{
display: flex;
flex-direction: row;
justify-content: flex-start;
justify-content: space-around;
}

.delete{
  align-self: flex-start;
}
 footer{
   display: flex;
   justify-content: space-between;
 }


