*{
  font-family: 'Inter', sans-serif;
}
.card {
padding: 15px;
justify-content: center;
  align-items: center;
  width: 245px;
  height: 80px;
  border-radius: 6px;
  border: none;
  background-color: #ebf0fa;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}

h1{
  margin-top: 8px;
  font-weight: 400;
}

span{
  margin-top: 5px;
}
