.card {
  justify-content: center;
  align-items: center;
  width: 245px;
  height: 80px;

  border-radius: 6px;
  border: none;
  background-color: #ebf0fa;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}
