<header>
  <h1>Maiores Orçamentos</h1>

</header>

<div class="content">
  <table class="table table-hover">
    <thead>
      <tr class = "text-center">
        <th scope="col" *ngFor="let row of Rows">{{row}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of AllCollections | orderPipe: AllCollections | justSlice:0:5 "  class = "text-center">
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.orcamento | currency: 'BRL'}}</td>
        <td>{{data.responsavel}}</td>
      </tr>

    </tbody>
  </table>
</div>
