<div class="Container">

  <div class="menu">
    <div class="logo">
      <img src="../../../../../assets/images/audaces.png">
    </div>
    <mat-divider></mat-divider>

    <div class="options">
      <mat-list>
      <mat-list-item>
        <a routerLink="painel" routerLinkActive="selected" class="menubtn">Dashboard</a>
      </mat-list-item>


        <h3 matLine> Cadastros </h3>
        <mat-list-item>
          <a routerLink="colecao" routerLinkActive="selected" class="menubtn" >Coleções</a>
        </mat-list-item>
        <mat-list-item>
          <a routerLink="produtos" routerLinkActive="selected" class="menubtn"  >Modelos </a>
        </mat-list-item>



        <h3 matLine> Suporte </h3>
        <mat-list-item>
          <a class="menubtn" routerLinkActive="selected">Obter Ajuda</a>
        </mat-list-item>
        <mat-list-item>
          <a  class="menubtn" routerLinkActive="selected">Enviar Comentario</a>
        </mat-list-item>
      </mat-list>

    </div>

  </div>

  <h4 class="logout">Logout</h4>

</div>

